<mat-tab-group mat-stretch-tabs class="demo-tab-group" style="margin-top:1px;" dynamicHeight="true">
  <mat-tab label="Optiuni">
    <ng-template mat-tab-label>
      <i class="material-icons">dashboard</i> Optiuni
    </ng-template>
<div class="container">
<section class="example-section">
  <mat-slide-toggle [formControl]="showHaltsControl" (click)="showHalts()">Arata popasurile pe harta </mat-slide-toggle>
</section>
<section class="example-section">
  <mat-slide-toggle [formControl]="showAllTreesOnMap" (click)="showAllTrees()">Arata toti pomii pe harta </mat-slide-toggle>
</section>
<section class="example-section">
  <mat-slide-toggle [formControl]="showTreesFromACategory" (click)="showOnlyTreesFromACategory()">Arata doar pomii dintr-o categorie </mat-slide-toggle>
  <p>
    <mat-form-field>
      <mat-select placeholder="Alege categoria" [disabled]="!showTreesFromACategory.value">
        <mat-option *ngFor="let c of categories; let i = index" [value]="1" (click)="onSelectCategory(c)">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>  
</section>
<section *ngIf="isUserAuthenticated" class="example-section">
  <mat-slide-toggle [formControl]="showUserTreesControl" (click)="showUserTrees()">Arata doar pomii plantati de mine </mat-slide-toggle>
</section>
</div>
</mat-tab>
<mat-tab label="Planteaza un pom">
  <ng-template mat-tab-label>
    <i class="material-icons">nature</i> Planteaza un pom
  </ng-template>
  <div *ngIf="!isUserAuthenticated" class="row justify-content-center align-self-center vertical-center">
        <img src="/assets/img/various-trees.png" alt="">
        <p>Te rugam sa te autentifici in sectiunea CONT pentru a planta un pom.</p>
  </div>
  <mat-vertical-stepper *ngIf="isUserAuthenticated" [linear]="isLinear" #stepper="matVerticalStepper">
    <mat-step [stepControl]="treeDetailsGroup">
      <form [formGroup]="treeDetailsGroup">
        <ng-template matStepLabel>Inregistreaza coordonatele</ng-template>
        <mat-form-field>
          <input matInput placeholder="latitudine" formControlName="latitudine" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="longitudine" formControlName="longitudine" required>
        </mat-form-field>
        <div>
          <button mat-button color="primary"(click)="getUserLocation()">Detecteaza</button>
          <button mat-button color="warn" (click)="resetUserLocation()">Reseteaza</button>
          <button mat-button matStepperNext>Pasul urmator</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="treeDetailsGroup">
      <form [formGroup]="treeDetailsGroup">
        <ng-template matStepLabel>Alege categoria</ng-template>
        <mat-form-field>
          <mat-select placeholder="Alege categoria">
            <mat-option *ngFor="let c of categories; let i = index" [value]="1" (click)="onSelectCategoryToPlant(c)">
              {{c}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <p>
        <mat-form-field [floatLabel]="categoryFormGroup">
          <mat-label>Creaza o categorie noua</mat-label>
          <input matInput formControlName="newCategory">
        </mat-form-field>
        </p> -->
        <div>
          <button mat-button matStepperNext>Pasul urmator</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="treeDetailsGroup">
      <form [formGroup]="treeDetailsGroup">
        <ng-template matStepLabel>Scrie o scurta descriere</ng-template>
        <mat-form-field [floatLabel]="treeDescription">
          <textarea matInput formControlName="description" style="height: 80px;"></textarea>
        </mat-form-field>
        <div>
          <button mat-button color="warn" (click)="resetDescription()">Reseteaza</button>
          <button mat-button matStepperNext>Pasul urmator</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="categoryFormGroup">
      <form [formGroup]="categoryFormGroup">
        <ng-template matStepLabel>Incarca fotografie</ng-template>
          <input type="file" (change)="detectFiles($event)">
        <div>
          <button mat-button matStepperNext>Pasul urmator</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="categoryFormGroup">
      <form [formGroup]="categoryFormGroup">
        <ng-template matStepLabel>Finalizare</ng-template>
        <div>
          <button mat-button color="primary"(click)="submitTreeToDatabase()">Adauga pom</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>

</mat-tab>
</mat-tab-group>
