<div class="container">
<section class="example-section">
  <mat-slide-toggle [formControl]="showAllTreesOnMap" (click)="showAllTrees()">Arata toti pomii pe harta </mat-slide-toggle>
</section>
  <mat-slide-toggle [formControl]="showTreesFromACategory" (click)="showOnlyTreesFromACategory()">Arata doar pomii dintr-o categorie </mat-slide-toggle>
  <p>
    <mat-form-field>
      <mat-select placeholder="Alege categoria" [disabled]="!showTreesFromACategory.value">
        <mat-option *ngFor="let c of categories; let i = index" [value]="1" (click)="onSelectCategory(c)">
          {{c}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
