
<mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Punct de plecare</ng-template>
      <mat-form-field>
        <input matInput placeholder="latitudine" formControlName="latitudine" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="longitudine" formControlName="longitudine" required>
      </mat-form-field>
      <div>
        <button mat-button color="primary"(click)="markStartPoint()">Marcheaza</button>
        <button mat-button color="warn" (click)="resetStartPoint()">Reseteaza</button>
        <button mat-button matStepperNext>Pasul urmator</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Punct destinatie</ng-template>
      <mat-form-field>
        <input matInput placeholder="latitudine" formControlName="latitudine" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="longitudine" formControlName="longitudine" required>
      </mat-form-field>
      <div>
        <button mat-button color="primary"(click)="markEndPoint()">Marcheaza</button>
        <button mat-button color="warn" (click)="resetEndPoint()">Reseteaza</button>
        <button mat-button matStepperNext>Pasul urmator</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pomi de vizitat</ng-template>
    <mat-list>
      <mat-list-item *ngFor="let tree of treesMarkedToVisit">
      <mat-icon svgIcon="{{ar}}"></mat-icon>
        {{tree.category}}
      </mat-list-item>
    </mat-list>
    <div>
      <button mat-button matStepperPrevious>Pasul precedent</button>
      <button mat-button matStepperNext>Pasul urmator</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Popasuri</ng-template>
    Lista popasuri
    <div>
      <button mat-button matStepperPrevious>Pasul precedent</button>
      <button mat-button matStepperNext>Pasul urmator</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Generare traseu</ng-template>
    <div>
      <button mat-button matStepperPrevious>Pasul precedent</button>
      <button mat-button matStepperNext>Pasul urmator</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
