<div class="example-container mat-elevation-z8" style="margin-top: 5px;">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="distance">
      <mat-header-cell *matHeaderCellDef> Distanta </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.distance}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="trees">
      <mat-header-cell *matHeaderCellDef> Pomi </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.trees}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="halts">
      <mat-header-cell *matHeaderCellDef> Popasuri </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.halts}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actiune </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button mat-button color="primary" >Detalii</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
