@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  height: 100vh;
  max-height: 100%;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
